#arkpets-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    font-size: 14px;
}

.arkpets-menu-item {
    padding: 5px 20px;
    cursor: pointer;
}

.arkpets-menu-item:hover {
    background-color: #f0f0f0;
}

.arkpets-submenu {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 0;
    min-width: 150px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
